# Análises do Repositório de Dados Eleitorais do TSE sobre Receita e Despesa dos candidatos

### Perguntas a serem respondidas
    -Qual custo por voto de cada candidato em cada eleição?
    -Qual ranking de custo/voto dos candidatos
    -Qual custo por voto de candidatos do gênero feminino
    -Quais empresas com maior volume de doação
    -Quais empresas doaram para o maior número de candidatos
    -Qual volume de doações diretas e indiretas

In [1]:
import sqlite3
import unicodedata

import matplotlib
import pandas

## Importa dados de Receita e Despesa

# Eleições - 2016

In [4]:
YEAR = 2016

In [2]:
conn = sqlite3.connect('../receitas-despesas-votacao.sqlite')

In [3]:
receita = pandas.read_sql(
    f"""SELECT SUM(valor_receita) as receita_total, nome_candidato
    FROM receita WHERE ano_eleicao = '{YEAR}' AND cpf_candidato <> ''
    GROUP BY cpf_candidato ORDER BY receita_total DESC LIMIT 10000""",
    conn
)

despesa = pandas.read_sql(
    f"""SELECT SUM(valor_despesa) as despesa_total, nome_candidato
    FROM despesa WHERE ano_eleicao = '{YEAR}' AND cpf_candidato <> ''
    GROUP BY cpf_candidato ORDER BY despesa_total DESC LIMIT 10000""",
    conn
)

## 10000 Candidatos com maior receita

In [5]:
receita.head()

   receita_total                       nome_candidato
0    40000070.00              VAGNER FORTUNATO SOARES
1    17271197.02             ERALDO PAIXAO DOS SANTOS
2    12446819.95  JOAO AGRIPINO DA COSTA DORIA JUNIOR
3    10407826.88    ROBERTO CLAUDIO RODRIGUES BEZERRA
4     9664174.81             MARCELO BEZERRA CRIVELLA

## 10000 Candidatos com maior despesa

In [6]:
despesa.head()

   despesa_total                       nome_candidato
0    43222309.02             ERALDO PAIXAO DOS SANTOS
1    40000070.00              VAGNER FORTUNATO SOARES
2    16212629.19                      FERNANDO HADDAD
3    12443026.13  JOAO AGRIPINO DA COSTA DORIA JUNIOR
4    10374162.27    ROBERTO CLAUDIO RODRIGUES BEZERRA

## Soma dos votos considerando ambos os turnos

In [12]:
votos = pandas.read_sql(
    f"""SELECT NOME, sigla_uf, SUM(total_votos) AS votos
    FROM votacao_zona
    WHERE ano_eleicao = {YEAR} GROUP BY NOME
    ORDER BY votos DESC LIMIT 10000;""",
    conn
)

In [13]:
votos.head()

                                       nome sigla_uf    votos
0                  MARCELO BEZERRA CRIVELLA       RJ  2542231
1                    MARCELO RIBEIRO FREIXO       RJ  1717086
2  ANTONIO CARLOS PEIXOTO DE MAGALHAES NETO       BA   982246
3              GERALDO JULIO DE MELLO FILHO       PE   959332
4                  JOAO LEITE DA SILVA NETO       MG   953308

## Inner Join de votos com receita

In [44]:
votos_receita = receita.merge(votos, left_on='nome_candidato', right_on='nome', how='inner')

## Inner Join de votos com despesa

In [45]:
votos_despesa = despesa.merge(votos, left_on='nome_candidato', right_on='nome', how='inner')

## Receita por voto

In [46]:
votos_receita['receita_por_voto'] = votos_receita.votos / votos_receita.receita_total

In [47]:
votos_receita.head()

,receita_total,nome_candidato,nome,sigla_uf,votos,receita_por_voto
0,9664174.81,MARCELO BEZERRA CRIVELLA,MARCELO BEZERRA CRIVELLA,RJ,2542231,0.263057
1,9223254.27,PEDRO PAULO CARVALHO TEIXEIRA,PEDRO PAULO CARVALHO TEIXEIRA,RJ,488775,0.052994
2,8351508.69,ANTONIO CARLOS PEIXOTO DE MAGALHAES NETO,ANTONIO CARLOS PEIXOTO DE MAGALHAES NETO,BA,982246,0.117613
3,5789176.32,RODRIGO OTAVIO SOARES PACHECO,RODRIGO OTAVIO SOARES PACHECO,MG,118772,0.020516
4,4792885.30,CARLOS ENRIQUE FRANCO AMASTHA,CARLOS ENRIQUE FRANCO AMASTHA,TO,68634,0.014320

## Despesa por voto

In [48]:
votos_despesa['despesa_por_voto'] = votos_despesa.votos / votos_despesa.despesa_total

In [116]:
votos_despesa.head()

,despesa_total,nome_candidato,nome,sigla_uf,votos,despesa_por_voto,names_normalized,gender_classification
0,10127632.02,JOAO LEITE DA SILVA NETO,JOAO LEITE DA SILVA NETO,MG,953308,0.094129,JOAO,Masculino
1,9904939.51,ANTONIO CARLOS PEIXOTO DE MAGALHAES NETO,ANTONIO CARLOS PEIXOTO DE MAGALHAES NETO,BA,982246,0.099167,ANTONIO,Masculino
2,9707448.16,PEDRO PAULO CARVALHO TEIXEIRA,PEDRO PAULO CARVALHO TEIXEIRA,RJ,488775,0.050351,PEDRO,Masculino
3,9628571.15,MARCELO BEZERRA CRIVELLA,MARCELO BEZERRA CRIVELLA,RJ,2542231,0.264030,MARCELO,Masculino
4,6848430.17,RODRIGO OTAVIO SOARES PACHECO,RODRIGO OTAVIO SOARES PACHECO,MG,118772,0.017343,RODRIGO,Masculino

# Pensar em algumas visualizações

## Load model to predict gender based on first name

In [49]:
import pickle

import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction import DictVectorizer

## Function to extract features from name

In [50]:
@np.vectorize
def features(name):
    name = name.lower()
    return {
        'first-letter': name[0],
        'first2-letters': name[:2],
        'first3-letters': name[:3],
        'last-letter': name[-1],
        'last2-letters': name[-2:],
        'last3-letters': name[-3:]
    }

In [51]:
model = pickle.load(open('modelo_genero_nome.pkl', 'rb'))
vectorizer = pickle.load(open('vectorizer_genero_nome.pkl', 'rb'))

## Apply classification

In [52]:
@np.vectorize
def classify(name, vectorizer):
    name = name.lower()
    name_transformed = vectorizer.transform(features([name]))
    return 'Masculino' if model.predict(name_transformed) == 1 else 'Feminino'

## Import table with names

In [53]:
names = pandas.read_csv('classificacao_nomes.csv', sep=';')

In [94]:
@np.vectorize
def classify_db(name):
    if name not in names.first_name.values:
        return 0
    class_ = names.loc[names.first_name == name].classification.values[0]
    return 'Masculino' if class_ else 'Feminino'

## Classify names using list from brazilian database of names

In [91]:
def remove_accent(name):
    return unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode().upper()

In [106]:
votos_receita['names_normalized'] = votos_receita.nome_candidato.map(lambda x: remove_accent(x.split(' ')[0]))
votos_despesa['names_normalized'] = votos_despesa.nome_candidato.map(lambda x: remove_accent(x.split(' ')[0]))

votos_receita['gender_classification'] = classify_db(votos_receita.names_normalized)
votos_despesa['gender_classification'] = classify_db(votos_despesa.names_normalized)

## Classify Gender using first name and Logistic Regression model of candidates that the names is not in the DB

In [107]:
votos_despesa.loc[votos_despesa.gender_classification == '0', 'gender_classification'] = classify(
    votos_despesa.loc[votos_despesa.gender_classification == '0']['names_normalized'], vectorizer)

votos_receita.loc[votos_receita.gender_classification == '0', 'gender_classification'] = classify(
    votos_receita.loc[votos_receita.gender_classification == '0']['names_normalized'], vectorizer)

### Correct most evident missclassification

    - José (Jose)
    - SCHAMBERLAEN

In [109]:
missclassified_names = ['JOSE', 'SCHAMBERLAEN']

In [110]:
votos_despesa.loc[votos_despesa.names_normalized.isin(missclassified_names), 
                  'gender_classification'] = 'Masculino'
votos_receita.loc[votos_receita.names_normalized.isin(missclassified_names),
                  'gender_classification'] = 'Masculino'

In [111]:
votos_despesa.loc[votos_despesa.gender_classification == 'Feminino'].sort_values(['votos', 'despesa_por_voto'])

,despesa_total,nome_candidato,nome,sigla_uf,votos,despesa_por_voto,names_normalized,gender_classification
4310,68543.06,ADRIANE BORTOLASO SCHRAMM,ADRIANE BORTOLASO SCHRAMM,RS,2091,0.030506,ADRIANE,Feminino
5233,55356.88,LUANA ADRIANA DA SILVA TORRES,LUANA ADRIANA DA SILVA TORRES,MG,2095,0.037845,LUANA,Feminino
3609,80928.75,CELIA SILVEIRA DE MORAIS ALMEIDA,CELIA SILVEIRA DE MORAIS ALMEIDA,GO,2097,0.025912,CELIA,Feminino
5132,56699.80,JACIRA MARTINS FERNANDES,JACIRA MARTINS FERNANDES,GO,2112,0.037249,JACIRA,Feminino
4336,67990.19,EDNEA BUCHI BATISTA,EDNEA BUCHI BATISTA,PR,2116,0.031122,EDNEA,Feminino
5068,57597.40,MARIA DO SOCORRO RODRIGUES ALVES BRAGA,MARIA DO SOCORRO RODRIGUES ALVES BRAGA,RO,2121,0.036825,MARIA,Feminino
4408,66830.80,FERNANDA SOARES PENA FERRAZ,FERNANDA SOARES PENA FERRAZ,MG,2124,0.031782,FERNANDA,Feminino
1938,128175.89,ZILDA DE REZENDE ARAUJO MACHADO,ZILDA DE REZENDE ARAUJO MACHADO,GO,2126,0.016587,ZILDA,Feminino
5481,52158.46,SANDRA MARIA DA ESCOSSIA ROSADO,SANDRA MARIA DA ESCOSSIA ROSADO,RN,2129,0.040818,SANDRA,Feminino
4861,60480.06,ELIETE ALVES DE MELO,ELIETE ALVES DE MELO,TO,2141,0.035400,ELIETE,Feminino
2234,111000.00,MARIANE ISABEL MOREIRA FAGUNDES,MARIANE ISABEL MOREIRA FAGUNDES,BA,2144,0.019315,MARIANE,Feminino
4717,62294.00,ISABELLA ALVES SIMAS PEREIRA,ISABELLA ALVES SIMAS PEREIRA,TO,2158,0.034642,ISABELLA,Feminino
2488,104179.35,ELIZABETH PELAES DOS SANTOS,ELIZABETH PELAES DOS SANTOS,AP,2159,0.020724,ELIZABETH,Feminino
3663,79992.73,MARIA GIRLEIDE ROVARI,MARIA GIRLEIDE ROVARI,MS,2159,0.026990,MARIA,Feminino
1479,157757.71,LOUVANIR JOAOZINHO MENEGUSSO,LOUVANIR JOAOZINHO MENEGUSSO,PR,2169,0.013749,LOUVANIR,Feminino
3076,91596.60,FRANCISCA SHIRLEY FERREIRA TARGINO,FRANCISCA SHIRLEY FERREIRA TARGINO,RN,2170,0.023691,FRANCISCA,Feminino
3581,81360.75,DORALICE NASCIMENTO DE SOUZA,DORALICE NASCIMENTO DE SOUZA,AP,2174,0.026721,DORALICE,Feminino
5643,50214.14,VANDILMA MARIA DE OLIVEIRA,VANDILMA MARIA DE OLIVEIRA,RN,2183,0.043474,VANDILMA,Feminino
3218,88734.89,MARIA EUNICE DIAS WOLF,MARIA EUNICE DIAS WOLF,RS,2186,0.024635,MARIA,Feminino
2264,109707.47,MILENA PEREIRA LOPES MOURA,MILENA PEREIRA LOPES MOURA,GO,2197,0.020026,MILENA,Feminino
935,219923.22,LUCIENE MARIA FERREIRA,LUCIENE MARIA FERREIRA,MG,2198,0.009994,LUCIENE,Feminino
936,77055.76,LUCIENE MARIA FERREIRA,LUCIENE MARIA FERREIRA,MG,2198,0.028525,LUCIENE,Feminino
3358,85840.00,ALCILENE ALVES DE ARAUJO,ALCILENE ALVES DE ARAUJO,PI,2200,0.025629,ALCILENE,Feminino
2612,101690.00,LARRAVARDIERIE BATISTA CORDEIRO,LARRAVARDIERIE BATISTA CORDEIRO,MG,2207,0.021703,LARRAVARDIERIE,Feminino
2954,94164.19,SANTINA IZE ROSA,SANTINA IZE ROSA,SC,2209,0.023459,SANTINA,Feminino
3702,79190.00,MARIA APARECIDA DE ARAUJO,MARIA APARECIDA DE ARAUJO,MG,2211,0.027920,MARIA,Feminino
5862,47500.00,CLAUDETE RODRIGUES DE VASCONCELOS CUNHA,CLAUDETE RODRIGUES DE VASCONCELOS CUNHA,MA,2218,0.046695,CLAUDETE,Feminino
2998,93430.20,ACACIA MARIA NASCIMENTO DE SOUSA,ACACIA MARIA NASCIMENTO DE SOUSA,SE,2224,0.023804,ACACIA,Feminino
3985,74242.12,IRIS CESAR DOS SANTOS MOREIRA,IRIS CESAR DOS SANTOS MOREIRA,MG,2228,0.030010,IRIS,Feminino
4019,73700.00,FRANCISCA LEDA DE OLIVEIRA ALMADA,FRANCISCA LEDA DE OLIVEIRA ALMADA,GO,2231,0.030271,FRANCISCA,Feminino
...,...,...,...,...,...,...,...,...
757,257401.33,ODACY AMORIM DE SOUZA,ODACY AMORIM DE SOUZA,PE,39618,0.153915,ODACY,Feminino
277,541543.00,DELIA GODOY RAZUK,DELIA GODOY RAZUK,MS,43252,0.079868,DELIA,Feminino
254,558450.19,MOEMA ISABEL PASSOS GRAMACHO,MOEMA ISABEL PASSOS GRAMACHO,BA,43951,0.078702,MOEMA,Feminino
145,839144.52,ADELIANA DAL PONT,ADELIANA DAL PONT,SC,44312,0.052806,ADELIANA,Feminino
469,371602.40,ROSANE MASSULO DA SILVA BORDIGNON,ROSANE MASSULO DA SILVA BORDIGNON,RS,45773,0.123177,ROSANE,Feminino
213,637685.13,ADRIANA SAUTHIER ACCORSI,ADRIANA SAUTHIER ACCORSI,GO,46103,0.072297,ADRIANA,Feminino
3049,92151.91,MARIELLE FRANCISCO DA SILVA,MARIELLE FRANCISCO DA SILVA,RJ,46502,0.504623,MARIELLE,Feminino
215,633788.51,IZABETE CRISTINA PAVIN,IZABETE CRISTINA PAVIN,PR,46615,0.073550,IZABETE,Feminino
107,1022723.31,PRISCILA KRAUSE BRANCO,PRISCILA KRAUSE BRANCO,PE,47399,0.046346,PRISCILA,Feminino
305,501921.46,MARLY PAULINO FAGUNDES,MARLY PAULINO FAGUNDES,PR,48005,0.095642,MARLY,Feminino
5328,54082.60,MARIA DA CONSOLACAO ROCHA,MARIA DA CONSOLACAO ROCHA,MG,48715,0.900752,MARIA,Feminino
495,358177.94,ANABEL LORENZI,ANABEL LORENZI,RS,49246,0.137490,ANABEL,Feminino
73,1296849.47,MARIA VICTORIA BORGHETTI BARROS,MARIA VICTORIA BORGHETTI BARROS,PR,52576,0.040541,MARIA,Feminino
221,623404.82,ROSA MARIA ORLANDO FERNANDES,ROSA MARIA ORLANDO FERNANDES,RJ,57868,0.092826,ROSA,Feminino
945,218203.93,ELIANE PEREIRA SINHASIQUE,ELIANE PEREIRA SINHASIQUE,AC,60871,0.278964,ELIANE,Feminino
68,1337901.56,ROSALBA CIARLINI ROSADO,ROSALBA CIARLINI ROSADO,RN,67476,0.050434,ROSALBA,Feminino
1612,146774.41,URSULA VIDAL SANTIAGO DE MENDECA,URSULA VIDAL SANTIAGO DE MENDECA,PA,79968,0.544836,URSULA,Feminino
302,505175.07,LUCIANA KREBS GENRO,LUCIANA KREBS GENRO,RS,86352,0.170935,LUCIANA,Feminino
127,950055.88,LUCIMAR SACRE DE CAMPOS,LUCIMAR SACRE DE CAMPOS,MT,95634,0.100661,LUCIMAR,Feminino
160,785060.90,JANDIRA FEGHALI,JANDIRA FEGHALI,RJ,101133,0.128822,JANDIRA,Feminino
193,689991.49,PAULA SCHILD MASCARENHAS,PAULA SCHILD MASCARENHAS,RS,112358,0.162840,PAULA,Feminino
55,1518479.49,MARIA TERESA SAENZ SURITA GUIMARAES,MARIA TERESA SAENZ SURITA GUIMARAES,RR,121148,0.079782,MARIA,Feminino
52,1555801.74,MARIA APARECIDA RAMOS DE MENESES,MARIA APARECIDA RAMOS DE MENESES,PB,125146,0.080438,MARIA,Feminino
41,1858400.40,RAQUEL TEIXEIRA LYRA,RAQUEL TEIXEIRA LYRA,PE,138579,0.074569,RAQUEL,Feminino
48,1614163.43,LUCIA ELISABETH COLOMBO SILVEIRA,LUCIA ELISABETH COLOMBO SILVEIRA,RS,152215,0.094300,LUCIA,Feminino
191,694483.00,MARIA MARGARIDA MARTINS SALOMAO,MARIA MARGARIDA MARTINS SALOMAO,MG,169565,0.244160,MARIA,Feminino
37,1936453.49,ANGELA REGINA HEINZEN AMIN HELOU,ANGELA REGINA HEINZEN AMIN HELOU,SC,171749,0.088693,ANGELA,Feminino
43,1820586.20,ALICE MAZZUCO PORTUGAL,ALICE MAZZUCO PORTUGAL,BA,193102,0.106066,ALICE,Feminino
13,4227670.36,ROSIANE MODESTO DE OLIVEIRA,ROSIANE MODESTO DE OLIVEIRA,MS,283398,0.067034,ROSIANE,Feminino
42,1853838.50,IRIS REZENDE MACHADO,IRIS REZENDE MACHADO,GO,656392,0.354072,IRIS,Feminino

In [112]:
votos_receita.loc[votos_receita.gender_classification == 'Feminino'].sort_values('receita_total', ascending=False)

,receita_total,nome_candidato,nome,sigla_uf,votos,receita_por_voto,names_normalized,gender_classification
6,4228071.16,ROSIANE MODESTO DE OLIVEIRA,ROSIANE MODESTO DE OLIVEIRA,MS,283398,0.067028,ROSIANE,Feminino
31,1853838.50,IRIS REZENDE MACHADO,IRIS REZENDE MACHADO,GO,656392,0.354072,IRIS,Feminino
34,1701023.17,MARIA TERESA SAENZ SURITA GUIMARAES,MARIA TERESA SAENZ SURITA GUIMARAES,RR,121148,0.071221,MARIA,Feminino
42,1486830.00,ANGELA REGINA HEINZEN AMIN HELOU,ANGELA REGINA HEINZEN AMIN HELOU,SC,171749,0.115514,ANGELA,Feminino
46,1393229.00,MARIA APARECIDA RAMOS DE MENESES,MARIA APARECIDA RAMOS DE MENESES,PB,125146,0.089824,MARIA,Feminino
56,1297000.00,MARIA VICTORIA BORGHETTI BARROS,MARIA VICTORIA BORGHETTI BARROS,PR,52576,0.040537,MARIA,Feminino
74,1162430.00,LAUREZ DA ROCHA MOREIRA,LAUREZ DA ROCHA MOREIRA,TO,20640,0.017756,LAUREZ,Feminino
82,1106117.92,LUCIA ELISABETH COLOMBO SILVEIRA,LUCIA ELISABETH COLOMBO SILVEIRA,RS,152215,0.137612,LUCIA,Feminino
89,1037770.00,CLAUDIA TELLES DE MENEZES PIRES MARTINS LELIS,CLAUDIA TELLES DE MENEZES PIRES MARTINS LELIS,TO,13121,0.012643,CLAUDIA,Feminino
92,1023000.00,PRISCILA KRAUSE BRANCO,PRISCILA KRAUSE BRANCO,PE,47399,0.046333,PRISCILA,Feminino
103,983666.61,ROSANA TEREZA MARTINELLI,ROSANA TEREZA MARTINELLI,MT,23981,0.024379,ROSANA,Feminino
110,951000.00,LUCIMAR SACRE DE CAMPOS,LUCIMAR SACRE DE CAMPOS,MT,95634,0.100562,LUCIMAR,Feminino
118,905740.33,ALINE PARANHOS VARONIL GURGEL,ALINE PARANHOS VARONIL GURGEL,AP,25365,0.028005,ALINE,Feminino
129,849135.00,ADELIANA DAL PONT,ADELIANA DAL PONT,SC,44312,0.052185,ADELIANA,Feminino
132,811649.60,CELIA AGOSTINHO LINS DE SALES,CELIA AGOSTINHO LINS DE SALES,PE,31019,0.038217,CELIA,Feminino
138,805520.00,ROSANGELA DE SOUZA GOMES,ROSANGELA DE SOUZA GOMES,RJ,38690,0.048031,ROSANGELA,Feminino
141,794940.00,RAQUEL TEIXEIRA LYRA,RAQUEL TEIXEIRA LYRA,PE,138579,0.174326,RAQUEL,Feminino
142,793590.72,ALICE MAZZUCO PORTUGAL,ALICE MAZZUCO PORTUGAL,BA,193102,0.243327,ALICE,Feminino
143,787204.72,ELIZIANE PEREIRA GAMA,ELIZIANE PEREIRA GAMA,MA,32500,0.041285,ELIZIANE,Feminino
164,722000.00,JOSEILDA SILVA AMARAL,JOSEILDA SILVA AMARAL,PA,22977,0.031824,JOSEILDA,Feminino
165,721117.00,ROSALBA CIARLINI ROSADO,ROSALBA CIARLINI ROSADO,RN,67476,0.093572,ROSALBA,Feminino
173,704484.13,MARCELLA MACHADO RIBAS FONSECA,MARCELLA MACHADO RIBAS FONSECA,MG,15471,0.021961,MARCELLA,Feminino
178,694693.72,MARIA MARGARIDA MARTINS SALOMAO,MARIA MARGARIDA MARTINS SALOMAO,MG,169565,0.244086,MARIA,Feminino
181,691124.86,MINERVINA MARIA DE BARROS SILVA,MINERVINA MARIA DE BARROS SILVA,PA,16826,0.024346,MINERVINA,Feminino
197,637289.39,ADRIANA SAUTHIER ACCORSI,ADRIANA SAUTHIER ACCORSI,GO,46103,0.072342,ADRIANA,Feminino
199,633788.50,IZABETE CRISTINA PAVIN,IZABETE CRISTINA PAVIN,PR,46615,0.073550,IZABETE,Feminino
202,627031.59,ROSA MARIA ORLANDO FERNANDES,ROSA MARIA ORLANDO FERNANDES,RJ,57868,0.092289,ROSA,Feminino
218,604000.00,PAULA SCHILD MASCARENHAS,PAULA SCHILD MASCARENHAS,RS,112358,0.186023,PAULA,Feminino
221,596616.73,ROSANGELA APARECIDA BARROS CURADO,ROSANGELA APARECIDA BARROS CURADO,MA,28967,0.048552,ROSANGELA,Feminino
228,586353.32,MARIA ELIANA DADALTO MELO,MARIA ELIANA DADALTO MELO,ES,11562,0.019718,MARIA,Feminino
...,...,...,...,...,...,...,...,...
5713,48999.00,OLINDA MATEDI GIURIATO,OLINDA MATEDI GIURIATO,ES,2684,0.054777,OLINDA,Feminino
5717,48848.17,DERLY DOS REIS DE OLIVEIRA,DERLY DOS REIS DE OLIVEIRA,MS,2709,0.055458,DERLY,Feminino
5722,48737.93,LADIR CASSOL,LADIR CASSOL,SC,5625,0.115413,LADIR,Feminino
5725,48712.00,TANIA MARIA DOS SANTOS,TANIA MARIA DOS SANTOS,RN,3499,0.071830,TANIA,Feminino
5729,48672.39,NADIA RODRIGUES SILVEIRA GERHARD,NADIA RODRIGUES SILVEIRA GERHARD,RS,6809,0.139895,NADIA,Feminino
5737,48580.00,DELCI ALVES LUZ,DELCI ALVES LUZ,BA,2905,0.059798,DELCI,Feminino
5747,48500.00,PATRICIA GONCALVES BRASIL,PATRICIA GONCALVES BRASIL,PE,2767,0.057052,PATRICIA,Feminino
5748,48470.70,BIANCA MENEZES DE JESUS SOUZA,BIANCA MENEZES DE JESUS SOUZA,BA,6456,0.133194,BIANCA,Feminino
5754,48408.99,BRAULINA LIMA SILVA,BRAULINA LIMA SILVA,BA,5192,0.107253,BRAULINA,Feminino
5757,48399.15,ADRIANA ALVES LARA,ADRIANA ALVES LARA,MG,3800,0.078514,ADRIANA,Feminino
5762,48363.29,DELANEIDE BORGES DIAS,DELANEIDE BORGES DIAS,BA,5595,0.115687,DELANEIDE,Feminino
5777,48198.85,ROSA IVONE BRAGA FONSECA,ROSA IVONE BRAGA FONSECA,MA,2463,0.051101,ROSA,Feminino
5780,48180.00,NADIR BAU DA SILVA,NADIR BAU DA SILVA,SC,2489,0.051660,NADIR,Feminino
5784,48135.53,ISABELLA GONCALVES MIRANDA,ISABELLA GONCALVES MIRANDA,MG,3422,0.071091,ISABELLA,Feminino
5785,48100.00,ISSY QUINAN JUNIOR,ISSY QUINAN JUNIOR,GO,7224,0.150187,ISSY,Feminino
5790,48033.00,SANDRA JOSY LOPES DE SOUZA,SANDRA JOSY LOPES DE SOUZA,MT,3491,0.072679,SANDRA,Feminino
5793,48000.00,MARIA DAS GRACAS DE MEDEIROS OLIVEIRA,MARIA DAS GRACAS DE MEDEIROS OLIVEIRA,RN,3448,0.071833,MARIA,Feminino
5796,47927.00,NIRLEI CRISTIANI,NIRLEI CRISTIANI,MG,2865,0.059778,NIRLEI,Feminino
5802,47839.06,KATIA SIMONE SOARES LOBATO,KATIA SIMONE SOARES LOBATO,RN,2749,0.057464,KATIA,Feminino
5807,47818.10,SONIA MARIA ALCANTARA BERLANDA,SONIA MARIA ALCANTARA BERLANDA,MT,2532,0.052951,SONIA,Feminino
5820,47695.12,MARLENE FATIMA MANICA REVERS,MARLENE FATIMA MANICA REVERS,PR,6204,0.130076,MARLENE,Feminino
5823,47672.35,MARIA SANDRA PEREIRA DE MARROCOS,MARIA SANDRA PEREIRA DE MARROCOS,PB,3991,0.083717,MARIA,Feminino
5836,47500.00,CLAUDETE RODRIGUES DE VASCONCELOS CUNHA,CLAUDETE RODRIGUES DE VASCONCELOS CUNHA,MA,2218,0.046695,CLAUDETE,Feminino
5837,47481.13,OLGA GENTIL DE CASTRO CARDOSO,OLGA GENTIL DE CASTRO CARDOSO,BA,3672,0.077336,OLGA,Feminino
5838,47478.83,ELENITA DA SILVA MATOS CARDOSO,ELENITA DA SILVA MATOS CARDOSO,BA,4351,0.091641,ELENITA,Feminino
5843,47422.17,PALLOMMA EMMANUELA UZEDA TAVARES ANTAS,PALLOMMA EMMANUELA UZEDA TAVARES ANTAS,BA,2744,0.057863,PALLOMMA,Feminino
5854,47250.00,ANA LUCIA MAZETO GOMES,ANA LUCIA MAZETO GOMES,PR,2403,0.050857,ANA,Feminino
5861,47150.00,IVETE SOARES TEIXEIRA ARAUJO,IVETE SOARES TEIXEIRA ARAUJO,BA,2215,0.046978,IVETE,Feminino
5876,46987.87,SANDRA REGINA ASFURY MARTINS OLIVEIRA,SANDRA REGINA ASFURY MARTINS OLIVEIRA,AC,2355,0.050119,SANDRA,Feminino
5882,46926.00,ELISELMA SILVA DE OLIVEIRA,ELISELMA SILVA DE OLIVEIRA,PB,2679,0.057090,ELISELMA,Feminino

In [115]:
pandas.read_sql('SELECT * FROM votacao_zona LIMIT 1;', conn).columns

Index(['ano_eleicao', 'codigo_eleicao', 'codigo_tipo_eleicao', 'data_eleicao',
       'descricao_eleicao', 'nome_tipo_eleicao', 'tipo_abrangencia_eleicao',
       'codigo_totalizacao_turno', 'descricao_totalizacao_turno',
       'numero_turno', 'codigo_municipio', 'descricao_ue', 'nome_municipio',
       'sigla_ue', 'sigla_uf', 'codigo_legenda', 'composicao_legenda',
       'nome_coligacao', 'nome_legenda', 'nome_partido', 'numero_partido',
       'numero_sequencial_legenda', 'sigla_partido', 'codigo_cargo',
       'codigo_detalhe_situacao_candidatura', 'codigo_situacao_candidatura',
       'codigo_situacao_candidatura_superior', 'descricao_cargo',
       'descricao_detalhe_situacao_candidatura',
       'descricao_situacao_candidatura',
       'descricao_situacao_candidatura_superior', 'nome', 'nome_social',
       'nome_urna', 'numero_sequencial', 'numero_urna', 'tipo_agremiacao',
       'numero_zona', 'total_votos', 'voto_em_transito'],
      dtype='object')